<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>GeoTrellis</title>
	<meta name="description" content="NFWF MVP">
	<meta name="author" content="NEMAC">

	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
		body {
		padding-top: 60px;
		padding-bottom: 40px;
		}
		.sidebar-nav {
		padding: 9px 0;
		}

		.options {
			float: right;
			z-index: 999;
			margin-top: 22px;
		}

		#opacitySlider {
		float:right;
		width:200px;
		padding-left: 20px;
			margin-top: -3px;
		}

		#colorChooser {
		float:left;
		}
	</style>
	<link href="css/leaflet.css" rel="stylesheet"/>
	<link href="css/leaflet.draw.css" rel="stylesheet"/>
	<!--[if lte IE 8]>
		 <link rel="stylesheet" href="../dist/leaflet.ie.css" />
	 <![endif]-->
	
	<link href="css/jquery-ui.css" rel="stylesheet"/>
	<link href="css/application.css" rel="stylesheet"/>
	
	<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
	<![endif]-->

	</head>

	<body>

	<div id="main">
	
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
			<div class="container-main">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Conservation Project Site Selection Tool</a>
			</div>
			</div>
		</div>

		<div class="container-main">
			<div class="row">

				<div id="leftCol">

					<div id="map">
						<a class="btn btn-inverse" id="clearButton" href="#">Clear Polygon</a>
					</div>
			
					<div id="wrap">
						<div class="well pull-left">
							<table>
								<tbody class="legend">
									<tr>
										<td><img id="activeRamp" style="text-align: middle;"></img></td>
									</tr>
									<tr>
										<td>
											<small>Low</small>
										</td>
										<td style="position: absolute; margin-left: -28px;">
											<small>High</small>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="options">
							<ul id="colorChooser" class="nav">
								<li class="dropdown">
									<a class="btn dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
										Color Ramps <i class="icon-chevron-up"></i>
									</a>
									<ul id="color-ramp-menu" class="dropdown-menu" role="menu" aria-labelledby="drop5"></ul>
								</li>
							</ul> <!-- /tabs -->
							<div id="opacitySlider">
								<span class="slider-label">Opacity</span>
								<div id="opacity-slider"></div>
							</div>
						 </div>
					 </div> <!-- end wrap -->
			
				</div><!--/leftCol-->

				<div id="sidebar">
				
					<ul class="nav nav-tabs">
						<li class="active"><a href="#parameters" data-toggle="tab">Parameters</a></li>
						<li><a href="#summary" data-toggle="tab">Summary</a></li>
					</ul>
				
				
					<div class="tab-content" id="tabBody">
					
						<div class="tab-pane active" id="parameters">
						
						</div>
							
						<div class="tab-pane" id="summary">

							<div id="exposure-summary">
								<h4>Exposure</h4>
								<table class="summary-group table table-striped">
									<tbody>
										<tr class="warning">
											<td class="bold">Score:</td>
											<td id="exposure-score" class="bold" style="text-align:right;"></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					
					</div> <!--/tab-content -->
					
				</div><!--/span-->

			</div> <!-- /row -->

		</div> <!-- /container-main -->

	</div> <!-- /main -->









	<!-- Templates -->

	<script type="text/template" id="param-group-template">
		<%
			_.each(data.groups, function (group) {
		%>
			<div class="well param-group">
				<h4 class="param-group-heading"><%= group.title %></h4>
				<%
					var layers = _.filter(data.layers, (layer) => layer.group == group.id)
					_.each(layers, function (layer) {
				%>
					<div class="param-control">
						<input type="checkbox" id="<%= layer.name %>"
							class="param-layer-checkbox"
							<% if (Number(layer.weight)) {
								%>checked<%
								}
							%>
						/>
						<h5 class="param-title"><%= layer.display %></h4>
					</div>
				<%
					})
				%>
			</div>
		<%
			})
		%>
	</script>

	<script type="text/template" id="summary-group-template">
		<%
			_.each(data.groups, function (group) {
				var layers = _.filter(data.layers, (layer) => {
					return layer.group === group.id && layer.weight !== 0
				})
				if (layers.length) {
		%>
				<h4 class="summary-group-heading"><%= group.title %></h4>
				<table class="summary-group table table-striped">
					<tbody>
						<%
							_.each(layers, function (layer) {
						%>
							<tr class="param-summary-score">
								<td><%= layer.display %></td>
								<td class="bold" style="text-align:right;"><%= layer.score %></td>
							</tr>
						<%
							});
						%>
						<tr class="warning">
							<td class="bold">Score:</td>
							<td class="bold" style="text-align:right;"><%= group.total %></td>
						</tr>
						<%
						 	if (group.quantiledScore) {
						%>
							<tr class="warning">
								<td class="bold">Index Value:</td>
								<td class="bold" style="text-align:right;"><%= group.quantiledScore %></td>
							</tr>
						<%
						 	}
						%>

					</tbody>
				</table>
		<%
				}
			})
		%>
	</script>

	<div id="parameterInterface" style="display:none">
		<div class="well">
		<input type="checkbox" class="param-layer-checkbox" checked />
		<h4 class="param-layer-label">Parameter 1</h4>
		</div>
	</div>

	<li id="colorRampTemplate" role="presentation" style="display:none">
		<a role="menuitem" tabindex="-1" href="#" onclick="return false;">
		<img role="menuitem" tabindex="-1" src="img/ramps/blue-to-orange.png"></img>
		</a>
	</li>

	</body>

	<script src="js/leaflet-src.js"></script>
	<script src="js/leaflet.draw.js"></script>
	<script src="js/geojson.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-ui-1.10.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>


	<script src="js/application.js"></script>


</html>
